/* Fonts */
@font-face {
    font-family: "Merriweather";
    src: url("./fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: "Merriweather Bold Italic";
    src: url("./fonts/Merriweather-BoldItalic.ttf");
}

* {
    box-sizing: border-box;
    display: block;
    color: white;
    font-family: "Merriweather", serif;
}

/* The title glitches and shows up in the body - so this effectively removes it */
title {
    width: 0;
    height: 0;
    visibility: hidden;
}

body {
    display: block;
    background-color: black;
}

.info {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: center;
}

canvas {
    position: absolute;
    top: 150px;
    border: 5px solid black;
    margin: auto;
}

.control-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 230px;
    height: 30px;
    margin: 0px 50px;
}

.label {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    font-family: "Merriweather Bold Italic";
}

.nav-el{
    display: inline-block;
    margin: 5px;
}

button {
    width: 1.5rem;
    height: 1.5rem;
    color: black;
    background-color: #EFEFEF;
    border: none;
    border-radius: 20;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
}
